
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Animations
$animationDuration: 0.5s; // specify animation duration. Default value: 1s
@import "~vue2-animate/src/sass/vue2-animate.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.message-container{
	min-height: 65px;
}

/*
.awesomplete{
	display: inherit !important;
	position: inherit !important;
}
*/



.awesomplete{
	flex-grow: 1;
}

.awesomplete mark {
	background-color: rgba(0,0,0,0);
	background: inherit;
	padding: 0px;
}

.input-group{
  display: flex;
  flex-direction: column;


}

.form-field-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}